<%= render partial: 'user', object: @user %>

<div class="user-bio flex-col">
  <h3>Bio</h3>
  <%= @user.bio %>
</div>

<% @posts.each do |post| %>
  <div class="post flex-col">
    <div class="post-id">
      <h3>Post #<%= post.id %></h3>
    </div>
    <div class="post-text">
      <%= post.text %>
    </div>
    <div class="post-stats align-end">
      Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
    </div>
  </div>
<% end %>

<div class="user-posts">
  <%= link_to "See all posts", user_posts_path(@user.id)%>
</div>